body {
    background-color: #ffffff;
    background-image: url('../images/background1.jpeg');
}

div.headerbg {
    height: 300px;
    width: 1170px;
    background-image: url('../images/gartheme2.png');
}

div.navArea {
    padding: 0em;
    background-color: #000000;
}

nav.navbar {
    margin-bottom: 0em;
}

div.navArea li {
    font-family: "Verdana"
    font-variant: small-caps;
    font-weight: bold;
    font-size: 1.6em;
    margin-right: 1em;
}

div.main {
    padding-top: 1em;
    background-color: white;
    font-size: 1.4em;
}

div.main h1 {
    color:#000099;
    font-family: "Open Sans";
    margin-bottom: 1em;
}

div.main p {
    margin-left: 1em;
    color: #1D2731;
}

.img-profile {
    margin-bottom: 20px;
    border-radius: 50px;
    border: 1px solid #73AD21;
    width: 180px;
    height: 200px;
    float: right;
    margin-left: 20px;
}

div.footer p {
    text-align: center;
    color: white;
}

